.vis.timeline .item {
	border-color: #acacac;
	background-color: #efefef;
	box-shadow: 5px 5px 10px rgba(128,128,128, 0.3);
}
table .description {
	font-style: italic;
}
#visualization {
	position: relative;
	overflow: hidden;
}
.logo {
	left: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50px;
}
.menu{
	margin-bottom: 10px;
}
.inline-block{
	display: inline-block !important;
}


