.text-azure-new{
	color: #17a2b8 !important;
}
.text-green-new{
    color: #28a745 !important;
}
.text-danger-new {
    color: #dc3545 !important;
}
.text-request-new {
    color: #FFC108 !important;
}
.bg-azure-new{
	background-color: #17a2b8 !important;
}
.bg-green-new{
    background-color: #28a745 !important;
}
.bg-danger-new {
    background-color: #dc3545 !important;
}
.bg-request-new {
    background-color: #FFC108 !important;
}