.container_step {
	width: 600px;
	margin: 100px auto; 
}
.progressbar_step {
	counter-reset: step;
}
.progressbar_step li {
	list-style-type: none;
	width: 25%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: #7d7d7d;
}
.progressbar_step li:before {
	width: 30px;
	height: 30px;
	content: counter(step);
	counter-increment: step;
	line-height: 30px;
	border: 2px solid #7d7d7d;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}
.progressbar_step li:after {
	width: 100%;
	height: 2px;
	content: '';
	position: absolute;
	background-color: #7d7d7d;
	top: 15px;
	left: -50%;
	z-index: -1;
}
.progressbar_step li:first-child:after {
	content: none;
}
.progressbar_step li.active {
	color: green;
}
.progressbar_step li.active:before {
	border-color: #55b776;
}
.progressbar_step li.active + li:after {
	background-color: #55b776;
}
.text-right-align{
	text-align: right !important;
}
@media only screen and (max-width:620px) {
	/* For mobile phones: */
	.text-right-align{
		text-align: left !important;
	}
}

.flex-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

input[type="radio"] {
	width: 25px;
	height: 25px;
	background-color: #65982d;
	position: relative;
	border-radius: 50%;
	display: block;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

input[type="radio"]:focus {
	outline: none;
}

input[type="radio"]::before{
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
	background-color: #65982d;
	width: 4vw;
	height: 5px;
	max-width: 50px;
}
input[type="radio"]::after {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
	background-color: #65982d;
	width: 4vw;
	height: 5px;
	max-width: 50px;
}
input[type="radio"]::before {
	left: calc(-4vw + 12.5px);
}

input[type="radio"]::after {
	right: calc(-4vw + 12.5px);
}

input[type="radio"]:checked {
	background-color: #65982d;
}

input[type="radio"]:checked::before {
	background-color: #65982d;
}

input[type="radio"]:checked::after {
	background-color: #65982d;
}

input[type="radio"]:checked ~ input[type="radio"], input[type="radio"]:checked ~ input[type="radio"]::before, input[type="radio"]:checked ~ input[type="radio"]::after {
	background-color: #AEB6BF;
}

input[type="radio"]:checked + .dot-info span {
	font-size: 13px;
	font-weight: bold;
	min-width: 60px;
}

.dot-info {
	width: 25px;
	height: 25px;
	display: block;
	visibility: hidden;
	position: relative;
	z-index: -1;
	left: calc((((80vw - 25px) / 20) * -1) - 1px);
}

.dot-info span {
	visibility: visible;
	position: absolute;
	font-size: 12px;
}

.dot-info span.year {
	bottom: -30px;
	left: 50%;
	min-width: 56px;
	transform: translateX(-50%);
}

.dot-info span.label {
	top: -65px;
	left: 0;
	transform: rotateZ(-45deg);
	width: 70px;
	text-indent: -10px;
}

#timeline-descriptions-wrapper {
	width: 100%;
	/*margin-top: 140px;*/
	margin-top: 60px;
	font-size: 22px;
	font-weight: 400;
	margin-left: calc((-80vw - 25px) / 20);
}

#timeline-descriptions-wrapper p {
	font-size: 14px;
	margin-top: 0;
	display: none;
}
@media (min-width: 1250px) {
	.input-flex-container {
		margin-left: 62.5px;
	}

	input[type="radio"]::before {
		left: -37.5px;
	}

	input[type="radio"]::after {
		right: -37.5px;
	}

	.dot-info {
		left: calc((((1000px - 25px) / 20) * -1) - 1px);
	}

	#timeline-descriptions-wrapper {
		margin-left: -37.5px;
	}
}

@media (max-width: 630px) {
	.flex-parent {
		justify-content: initial;
		align-items: center;
	}

	.input-flex-container {
		flex-wrap: wrap;
		justify-content: center;
		width: 400px;
		height: auto;
		/*margin-top: 15vh;*/
		margin-top: 4vh;
		margin-left: 0;
		padding-bottom: 30px;
	}

	input[type="radio"], .dot-info {
		width: 60px;
		height: 60px;
		margin: 0 10px 50px;
	}

	input[type="radio"] {
		background-color: transparent !important;
		z-index: 1;
	}

	input[type="radio"]::before, input[type="radio"]::after {
		content: none;
	}

	input[type="radio"]:checked + .dot-info {
		background-color: #2C3E50;
	}

	input[type="radio"]:checked + .dot-info span.year {
		font-size: 14px;
	}

	input[type="radio"]:checked + .dot-info span.label {
		font-size: 12px;
	}

	.dot-info {
		visibility: visible;
		border-radius: 50%;
		z-index: 0;
		left: 0;
		margin-left: -70px;
		background-color: #AEB6BF;
	}

	.dot-info span.year {
		top: 0;
		left: 0;
		transform: none;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ECF0F1;
	}

	.dot-info span.label {
		top: calc(100% + 5px);
		left: 50%;
		transform: translateX(-50%);
		text-indent: 0;
		text-align: center;
	}

	#timeline-descriptions-wrapper {
		margin-top: 30px;
		margin-left: 0;
		text-align: center;
	}
}

@media (max-width: 480px) {
	.input-flex-container {
		width: 340px;
	}
}

@media (max-width: 400px) {
	.input-flex-container {
		width: 300px;
	}
}